<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CineYSeriesJavierAlfonsoAguiar2">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".interfaz.inicio.ActividadInicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".interfaz.ajustes.ActividadPreferencias"
            android:label="Ajustes"
            android:parentActivityName=".interfaz.principal.ActividadPrincipal" />
        <activity
            android:name=".interfaz.principal.ActividadPrincipal"
            android:exported="true"/>
        <activity android:name=".interfaz.principal.ActividadGuiaAudio"/>
        <activity android:name=".interfaz.mapas.ActividadMapa"/>
        <activity android:name=".interfaz.peliculas.ActividadRecomendaciones"/>
        <activity android:name=".interfaz.principal.ActividadVideo"/>
        <activity android:name=".interfaz.principal.ActividadAcercaDe"/>
        <activity android:name=".interfaz.peliculas.ActividadDetallesPeli"/>
        <activity android:name=".interfaz.principal.ActividadAyuda"/>
        <activity android:name=".interfaz.peliculas.ActividadNuevaPelicula"/>
        <activity android:name=".interfaz.admin.ActividadAdmin"/>
        <activity
            android:name=".interfaz.autenticacion.ActividadLogin"
            android:exported="false" />
        <activity android:name=".interfaz.autenticacion.ActividadRegistro" android:parentActivityName=".interfaz.autenticacion.ActividadLogin"/>
        <service
            android:name=".interfaz.servicio.ServicioSmsBateria"
            android:exported="false" />
    </application>

</manifest>

