<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CineYSeriesJavierAlfonsoAguiar2">
        <activity
            android:name=".ui.ActivityPreferencias"
            android:label="Ajustes"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"/>
        <activity android:name=".ui.AcercaDeActivity"/>
        <activity android:name=".ui.DetallesPeliActivity"/>
        <activity android:name=".ui.AyudaActivity"/>
        <activity android:name=".ui.NuevaPeliculaActivity"/>
        <activity android:name=".ui.AdminActivity"/>
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActivityRegistro" android:parentActivityName=".ui.LoginActivity"/>
    </application>

</manifest>